:root {
    --bg_1: #22222e;
    --bg_2: #181822;
    --bg_3: #252831;
    --bg_4: #2d2d3d;
    --bg_5: #595959;
    --bg_1: #22222e;

    --main_color: #68ff9d;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('Minecraft_1.1.ttf') format('truetype');
}

body {
    background-color: var(--bg_2);
    font-family: 'MyCustomFont', sans-serif;
    color: white;
}

.div_d {
    background-color: var(--bg_1);
    margin-bottom: 15px;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    font-weight: normal !important;
}

.main {padding: 20px;}
.paddding {padding: 10px;}
.paddding h3 {color: var(--main_color);}
.paddding p {font-size: 15px;}
h2 {color: var(--main_color);}

input {
    background-color: var(--bg_5);
}